@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    width: 1400px;
    margin-top: 20px;
}
.global{
    width: 1400px;
}
.menu_1{
    width: 1400px;
    display: flex;
    justify-content: space-around;
}
.menu_numb{
    padding-right: 20px;
    margin-left: -20px;
    border-right: 1px solid #E2E2E2;
    align-items: center;
    display: flex;
}
.menu_numb i{
    margin-top: -20px;
    margin-left: 10px;
    font-size: 30px;
}
.ur{
    font-family: "Suisse Int'l Trial";
    font-size: 16px;
    width: 100px;
    text-align: center;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}
.ur p:hover {
    margin-left: 32px;
    width: 30px;
    background-color: turquoise;
    color: white;
}
.ue{
    padding-right: 20px;
    margin-left: -20px;
    border-right: 1px solid #E2E2E2;
}
.menu_icon{
    padding-right: 20px;
    margin-left: -20px;
    display: flex;
    align-items: center;
    border-right: 1px solid #E2E2E2;
}
.menu_icon i{
    margin-left: 10px;
    color: #808080;
}
.maonline{
    overflow: hidden;
    font-size: 20px;
    font-family: Montserrat;
    padding-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    background: #EFF3F6;
    align-items: center;
}
.online_icon{
    margin-left: 12px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: tomato;
}
.online_icon i{
    color: white;
    font-size: 30px;
}
.tonline{
    overflow: hidden;
    font-size: 20px;
    font-family: Montserrat;
    padding-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    background: #EFF3F6;
    align-items: center;
}
.tonline_icon{
    margin-left: 28px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}
.tonline_icon i{
    font-size: 25px;
    color: white;
}
.glob_nav_header_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.glob_nav_header_1 li:hover{
    border-bottom: 3px solid red;
    box-sizing: border-box;
}
.glob_nav_header_1 .nav-link{
    margin-left: 40px;
}
.nav-link{
    color: black;
}
i{
    color: black;
    font-size: 20px;
}
.container-fluid{
    padding-left: 40px;
    background-color: white;
}
.header_foto{
    position: relative;
}
.header_foto img{
    width: 100%;
}
.cost_head{
    position: absolute;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    left: 150px;
    top: 140px;
    color: white;
}
.newecohotel{
    position: absolute;
    width: 700px;
    height: 102px;
    left: 140px;
    top: 180px;
    font-size: 45px;
    font-style: normal;
    color: white;
    font-family: Montserrat;
}
.header_footer{
    display: flex;
}
.header_footer{
    padding: 20px 150px 20px 150px;
    margin-bottom: 50px;
    width: 1400px;
    height: 250px;
    background-color: #F8F8F8;
}
.header_footer h1{
    font-family: Montserrat;
    font-size: 30px;
}
.header_footer p{
    font-family: Montserrat;
    font-size: 18px;
    color: #777777;
}
.header_button_1{
    width: 270px;
    height: 50px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Montserrat;
    font-size: 15px;
    background-color: white;
    color: #777777;
}
.header_button_1:hover{
     background-color: #777777;
     color: white;
}
.header_button_2{
    width: 220px;
    height: 50px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Montserrat;
    font-size: 15px;
    background-color: white;
    color: #777777;
}
.header_button_2:hover{
    background-color: #777777;
    color: white;
}
.header_div_2{
    margin-left: 100px;
}
.div_line{
    margin-bottom: 20px;
}
.crug{
    margin-right: 20px;
}
.div_line{
    display: flex;
}
.crug{
    font-size: 25px;
    text-align: center;
    width: 45px;
height: 45px;
left: 884px;
top: 697px;
border-radius: 100%;
border: 1.2px dashed #969696;
box-sizing: border-box;
}
.hotel_header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.crug1_solid{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #C6C6C6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crug2_solid{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #454545;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_foto{
    position: relative;
}
.header_foto_gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
}
.hotel_foto{
    position: relative;
}
.hotel_foto_gradient{
    position: absolute;
    left: 0;
    top: 0;
    width: 459px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.hotel_arrow{
    display: flex;
}
.allhotel_hr{
    margin-top: 25px;
    width: 237px;
    height: 1px;
    background: #C4C4C4;
}
.allhotel_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #969696;
    font-size: 14px;
    text-align: center;
    border: 2px solid #969696;
    width: 140px;
    height: 45px;
}
.hotel_foto_global{
    display: flex;
    overflow-x: scroll;
}
.hotel_foto{
    margin: 0 40px 0 0 ;
    position: relative;
    width: 450px;
    height: 450px;
}
.hotel_foto h1{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 210px;
    left: 80px;
}
.star{
    position: absolute;
    top: 170px;
    left: 170px;
}
.comment_hotel{
    color: white;
    position: absolute;
    top: 35px;
    left: 0;
    width: 195px;
    height: 30px;
    background: rgba(0, 0, 0, 0.35);
    padding-left: 5px;
}
.comment2_hotel{
    color: white;
    position: absolute;
    top: 35px;
    left: 0;
    width: 145px;
    height: 30px;
    background: rgba(0, 0, 0, 0.35);
    padding-left: 5px;
}
.actual_tour_header{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.actual_tour_hr{
    margin-top: 35px;
    width: 340px;
    height: 1px;
    background: #C4C4C4;
} 
.actual_tour_text{
    font-size: 45px;
}
.actual_tour_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    border: 1px solid #969696;
    font-size: 14px;
    color: #969696;
}
.actual_tour_content{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.actual_tour_card{
    background-color: #F8F8F8;
    width: 326px;
    position: relative;
}
.actual_tour_card_img_comment{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 0;
    color: white;
    width: 195px;
    height: 30px;
    background: rgba(0, 0, 0, 0.35);
}
.actual_tour_card_img_comment1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 0;
    color: white;
    width: 145px;
    height: 30px;
    background: rgba(0, 0, 0, 0.35);
}
.actual_tour_card_contet{
    margin: 20px;
    height: 120px;
}
.actual_tour_card h1{
   font-size: 20px;
}
.actual_tour_card  p{
    font-size: 16px;
    color: #848484;
}
.actual_tour_card_footer{
    justify-content:space-between;
    padding: 20px;
    border-top: 2px solid #E8E8E8;
    display: flex;
}
.atc_footer_2{
    width: 100px;
    height: 36px;
    font-size: 12px;
}
.atc_footer_1 p {
    font-size: 12px;
    color: #C9C9C9;
}
.atc_footer_1 h1 {
    font-size: 16px;
    color: red;
}
.atc_footer_1 span{
    font-size: 24px;
}
.bottom{
    display: flex;
}
.bottom_hr{
    margin-top: 20px;
    width: 7px;
    height: 1px;
    background-color: #454545;
}
.bottom_div_2{
    width: 200px;
    border: 1px solid #454545;
}
.bottom_div_1{
    width: 170px;
    border: 1px solid #454545;
}
.bottom_div_3{
    justify-content: space-around;
    width: 170px;
    display: flex;
    border: 1px solid #454545;
}
.bottom_div_5{
    width: 130px;
    display: flex;
    border: 1px solid #454545;
}
.bottom_button{
    font-family: Montserrat;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 16px;
    width: 135px;
    height: 50px;
}
.top{
    display: flex;
}
.navbar_fly{
    padding: 20px 0 20px 40px;
    border-top: 3px solid #969696;;
    background-color: #F8F8F8;
    width: 1090px;
    height: 140px;
}
.nav_row{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_div_2{
    margin-left: 105px;
}
.top_div_3{
    margin-left: 83px;
}
.top_div_4{
    margin-left: 65px;
}
.top_div_5{
    margin-left: 90px;
}
.news_header{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.news_hr{
    margin-top: 35px;
    width: 340px;
    height: 1px;
    background: #C4C4C4;
} 
.news_text{
    font-size: 45px;
}
.news_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    border: 1px solid #969696;
    font-size: 14px;
    color: #969696;
}
.news_div{
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #F8F8F8;
}
.news_header{
    margin-bottom: 70px;
    display: flex;
}
.news_text{
    font-size: 45px;
}
.news_hr{
    width: 340px;
    height: 1px;
    color: #C4C4C4;
}
.news_button{
    width: 140px;
    height: 45px;
    border: 1px solid #969696;
    color: #969696;
}
.news_card_block {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.news_card{
    border-bottom: 50px;
    width: 250px;
}
.news_card_img{
    width: 100%;
}
.news_card_content p {
    color: #BBBBBB;
    font-size: 14px;
}
.news_card_content h1 {
    font-size: 20px;
}
.news_card_button {
    width: 77px;
    font-size: 14px;
    border-bottom: 1px solid #000;
}
.news_card_button:hover {
    font-size: 14px;
    color: red;
    border-bottom: 1px solid red;
}
.blog_header{
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    display: flex;
    position: relative;
}
.blog_text{
    font-size: 45px;
}
.blog_hr{
    width: 680px;
    height: 1px;
    background-color: #C4C4C4;
}
.blog_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    border: 1px solid #969696;
    color: #969696;
}
.blog_line{
    position: absolute;
    top: -140px;
    left: 850px;
}
.blog_plane{
    position: absolute;
    top: -90px;
    left: 895px;
}
.line_start{
    width: 14px;
    height: 14px;
    border: 5px solid #454545;
    border-radius: 100%;
    position: absolute;
    left: 1135px;
    top: -88px;
}
.line_end{
    position: absolute;
     top: 7px;
     left: 837px;
}
.blog_card_block {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.blog_card{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-bottom: 50px;
    width: 250px;
    height: 270px;
    align-items:baseline;
}
.blog_card_img img{
    height: 150px;
    width: 100%;
}
.blog_card_content p {
    color: #BBBBBB;
    font-size: 14px;
}
.blog_card_content h1 {
    font-size: 20px;
}
.blog_card_button {
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-size: 14px;
}
.blog_card_button:hover {
    font-size: 14px;
    color: red;
}
.blog_card_button:hover i {
    color: red;
}
.blog_arrow div{
    margin: 20px 0 40px 0 ;
}
.redline{
    padding: 30px 200px 0 80px;
    margin-top: 100px;
    position: relative;
    width: 1400px;
    height: 255px;
    background-color: red;
}
.redline_line{
    position: absolute;
    top: -83px;
    left: 800px;
}
.redline_top{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.redline_bottom{
    display: flex;
    justify-content: space-around;
}
.redline_button{
    width: 237px;
    height: 50px;
    background: #FFFFFF;
    font-size: 16px;
    font-family: Montserrat;
   text-align: center;
   padding-top: 10px;  
    color: #DA2032;
}
.email{
    width: 410px;
    height: 50px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.2);
}
::placeholder{
    font-size: 16px;
    color: white;
}
.turist input{
  position: absolute;
  left: -100px;
  top: -100px;
}
.turist input::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid white;
    position: absolute;
    top: 230px;
    left: 680px;
}
.turist input:checked::before{
    border: none;
    background: url(./img/Frame\ 88.png);
}
.turist{
    align-items: center;
    justify-content: space-around;
    display: flex;
    text-align: center;
    z-index: 1;
}
.turagent input{
    position: absolute;
    top: -100px;
    left: -100px;
}
.turagent input::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid white;
    position: absolute;
    top: 230px;
    left: 830px;
}
.turagent input:checked::before{
    border: none;
    background: url(./img/Frame\ 88.png);
}
.turagent{
    align-items: center;
    display: flex;
    text-align: center;
    z-index: 1;
}
.our_plus{
    width: 1400px;
    padding-top: 30px;
    height: 850px;
    position: relative;
    background-color: #F8F8F8;
}
.our_plus h1{
    margin: 0 0 10px 150px;
}
.our_plus_fone_img{
    opacity: 30%;
    position: absolute;
    top: 10px;
    left: 150px;
}
.our_plus_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card_check{
    color: #C6C6C6;
    margin: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
}
.our_plus_card{
    justify-content: space-around;
    padding: 20px;
    margin: 10px 30px 20px 10px;
    background-color: white;
    width: 505px;
    height: 140px;
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    z-index: 1;
}
.our_plus_card p{
    width: 400px;
}
.our_plus_card:hover{
    border-left: 6px solid red ;
}
.our_plus_card:hover .card_check{
    background-color: red;
    border: white;
    color: white;
}
.foto_italy{
    overflow: hidden;
    padding: 120px 0 0 250px;
    display: flex;
    width: 1400px;
    height: 450px;   
    background: url(./img/Rovinj-15\ 1.png);
}
.foto_italy_info{
    color: white;
    font-family: Montserrat;
}
.foto_italy_info h1{
    font-size: 40px;
    font-family: Montserrat;
    margin-bottom: 30px;
}
.foto_italy_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 270px;
    height: 60px;
    background-color: white;
    color: #969696;
}
.foto_italy_img img{
    margin-top: -50px;
    margin-left: 100px;
}
.contry{
    position: relative;
    padding: 100px 150px;
}
.contry_content_header{
    display: flex;
}
.contry_content_card_box{
    margin-top: 70px;
    justify-content: space-evenly;
    display: flex;
}
.contry_content_footer{
    margin-top: 30px;
    display: flex;
}
.contry_header_1 h3{
    color: red;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.contry_header_1 h1{
    font-size: 30px;
    font-family: Montserrat;
}
.contry_header_2{
    margin-left: 120px;
    margin-top: 60px;
    font-size: 20px;
    color: red;
    font-family: Montserrat;
}
.contry_card{
    position: relative;
    width: 240px;
    height: 185px;
    background: #F8F8F8;
}
.contry_card_top img{
    position: absolute;
    top: -50px;
    left: 20px;
}
.contry_card_top h1{
    font-size: 20px;
    font-family: Montserrat;
    margin-top: 55px;
    margin-left: 70px;
}
.contry_card_button{
    width: 190px;
    height: 40px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 25px;
    transition: all 0.5s;
}
.contry_card_button:hover{
    background-color: #969696;
    color: white;
}
.contry_footer_1{
    margin-left: 20px;
    width: 500px;
    font-size: 18px;
    font-family: Montserrat;
}
span_p{
    color: red;
    border-bottom: 1px solid red;
}
.contry_footer_2{
    margin-left: 24px;
    width: 500px;
    font-size: 18px;
    font-family: Montserrat;
    border: 1px solid #C4C4C4;
    box-sizing: border-box; 
    padding: 10px;
}
.contry_line_1{
    font-family: 'Corinthia', cursive;
    position: absolute;
    top: -10px;
    left: 1200px;
}
.contry_line_1 p {
    position: absolute;
    top: 55px;
    left: -85px;
}
.contry_line_2{
    font-family: 'Corinthia', cursive;
    position: absolute;
    top: 320px;
    left: -5px;
}
.contry_line_2 p {
    position: absolute;
    top: 80px;
    left: 90px;
}
.contry_line_3{
    font-family: 'Corinthia', cursive;
    position: absolute;
    top: 650px;
    left: 1280px;
}
.contry_line_3 p {
    position: absolute;
    top: -20px;
    left: -15px;
}
.exclusive{
    position: relative;
    background: #F8F8F8;
}
.exclusove_slovenia{
    position: absolute;
    top: 300px;
    left: 10px;
}
.exclusove_slovenia p{
    font-family: 'Corinthia', cursive;
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: -30px;
}
.exclusive_top{
    padding: 100px 150px;
    display: flex;
}
.exclusive_top_h1{
    width: 620px;
    height: 120px;
    font-family: Montserrat;
    border-bottom: 1px solid  #a3a3a3;
}
.exclusive_top_h1 h1{
    font-size: 30px;
}
.exclusive_top_p{
    padding-top: 30px;
    display: flex;
    color: #656565;
}
.exclusive_top_2{
    position: relative;
    margin-left: 30px;
}
.exclusive_img_1{
    position: relative;
  z-index: 2;
}
.exclusive_img_2{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: -3px;
}
.exclusive_img_3{
    position: absolute;
    top: 20px;
    left: 260px;
    z-index: 2;
}
.exclusive_img_3 p{
    font-family: 'Corinthia', cursive;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 30px;
    rotate: -30deg;
    color: white;
    z-index: 2;
}
.exclusive_bottom{
    position: relative;
    height: 470px;
    margin-top: -110px;
    background: url(./img/Mask\ Group\ —\ копия\ 2.png);
    padding: 0 150px 150px 150px;
}
.exclusive_bottom_gradient{
    position: absolute;
    left: 0;
    top: 0;
    width: 1400px;
    height: 100%;
    background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 90%);
}
.exclusive_bottom h1{
    margin-left: 220px;
}
.exclusive_bottom_content{
    justify-content: space-evenly;
    display: flex;
}
.exclusive_bottom_card{
    display: flex;
    width: 380px;
    height: 50px;
}
.exclusive_bottom_card:hover{
    border-bottom: 4px solid red;
}
.exclusive_bottom_card_number{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
}
.exclusive_bottom_card_p{
    width: 330px;
    height: 50px;
    text-align: start;
}
.see{
    padding-top: 100px;
    padding-bottom: 70px;
    background: url(./img/OO_PM_Drone_ChurchIsland_Twilight_0867_MASTER\ 1.png);
}
.see_top{
    display: flex;
    height: 500px;
    margin: 0 150px 0 150px;
}
.see_top_1 h1{
    width: 800px;
    font-size: 40px;
    font-family: Montserrat;
    color: white;
}
.see_top_1 p{
    width: 570px;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 40px;
}
.see_top_2{
    position: relative;
}
.see_top_2 img{
    position: absolute;
    top: 30px;
    left: -10px;
}
.see_top_2_block{
    position: absolute;
    top: 0;
    left: 20px;
    padding: 20px;
    width: 275px;
    height: 180px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 16px;
    font-family: Montserrat;
}
.see_form{
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -250px;
    margin-left: 130px;
}
.see_form input{
    padding-left: 10px;
    width: 270px;
    background: rgba(25, 28, 32, 0.3);
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
}
.see_form input:hover{
    background-color:  #191C20;
}
.see_form_button{
    width: 170px;
    height: 50px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 16px;
}
.number{
    position: relative;
    padding: 150px;
}
.number_line{
    position: absolute;
    right: 0;
    top: 500px;
}
.number_line .img_1{
    position: absolute;
    left: 90px;
    top: 310px;
}
.number_plane{
    position: absolute;
    left: 0px;
    top: 900px;
}
.number_plane .img2{
    rotate: 180deg;
    position: absolute;
    top: -12px;
    left: 120px;
}
.number_content_1{
    display: flex;
}
.number_content_2{
    margin-left: -120px;
    justify-content: space-evenly;
    display: flex;
}
.number_content_3{
    margin-left: -120px;
    justify-content: space-evenly;
    display: flex;
}
.number_content_1_text h1{
    width: 300px;
    font-family: Montserrat;
    font-size: 40px;
}
span_h1{
    color: red;
}
.number_content_1_text p {
    width: 180px;
    color: #898989;
    font-family: Montserrat;
}
.number_content_1_text img{
    position: absolute;
    top: 340px;
    left: 350px;
}
.number_content_1_foto img{
    position: absolute;
    margin-left: 40px;
    width: 600px;
}
.number_card{
    width: 230px;
    height: 200px;
}
.num{
    font-size: 60px;
    font-family: Montserrat;
    height: 80px;
    border-bottom: 1px solid rgba(35, 35, 35, 0.3);;
}
.number_fone_img{
    position: absolute;
    left: 900px;
    top: 20px;
}
.pride_content_2{ 
    background: url(./img/1615470437_162\ 3\ —\ копия.png);
}
.pride_content_2_gradient{
    padding: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(180deg, #F8F8F8 17.5%, rgba(248, 248, 248, 0.1) 100%);
}
.pride_content_1{
    justify-content: space-evenly;
    background-color: #F8F8F8;
    padding: 80px 0 0 0 ;
    display: flex;
}
.pride_content_1 h1{
    font-size: 40px;
    font-family: Montserrat;
    width: 381px;
}
.pride_content_1_p{
    font-size: 20px;
    color: #656565;
    font-family: Montserrat;
    width: 520px;
}
.sponsor{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    border: 1px solid rgba(196, 196, 196, 0.5);
}
.sponsor:hover{
    border-top: 4px solid red;
}
.conditions_2_content{
    padding: 40px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.conditions_card{
    position: relative;
    padding: 20px;
    border:1px solid  #E3E3E3;
    width: 348px;
    height: 263px;
    background: #F8F8F8;
}
.conditions_card:hover{
    background-color: white;
    border-top: 6px solid red;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.conditions_card h1{
    height: 60px;
    font-family: Montserrat;
    font-size: 20px;
}
.conditions_card h3{
    font-family: Montserrat;
    font-size: 18px;
    color: #848484;
}
.conditions_card p{
    font-family: Montserrat;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.conditions_2_header{
    padding: 0 100px 40px 100px;
    display: flex;
    justify-content: space-evenly;
}
.conditions_2_button{
    width: 180px;
    height: 45px;
    border: 1px solid #969696;
    color: #969696;
    font-size: 16px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conditions_2_header h1{
    font-size: 20px;
    font-family: Montserrat;
    width: 800px;
}
.conditions_1{
    display: flex;
    padding: 100px 100px 100px 150px;
}
.conditions_1_foto{
    position: relative;
}
.conditions_massage{
    position: absolute;
    top: 250px;
    left: -90px;
}
.conditions_massage p{
    font-size: 23px;
    font-family: 'Corinthia', cursive;
    color: white;
    rotate: -20deg;
    position: absolute;
    top: 50px;
    left: 25px;
}
.conditions_1_text{
    font-family: Montserrat;
    padding: 50px;
}
.conditions_1_text h1{
    font-size: 31px;
    margin-bottom: 30px;
}
.conditions_1_text p{
    font-size: 20px;
}
.conditions{
    padding-bottom: 20px;
    position: relative;
}
.conditions_line{
    position: absolute;
    right: 0;
    top: 920px;
}
.conditions_fone {
    position: absolute;
    top: 300px;
    left: 0;
}
.travel{
    position: relative;
    background: url(./img/GettyImages-685890576-2200x880\ 1.png);
    height: 450px;
    padding-top: 100px;
}
.travel_text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.travel h1{
    color: white;
    text-align: center;
    font-family: Montserrat; 
    width: 680px;
    font-size: 40px;
}
.travel h2{
    position: absolute;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.2);
}
.travel_drop{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 90px;
    top: 330px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding: 50px;
}
.travel_drop_card{
    margin: auto;
    display: flex;
    width: 500px;
    height: 100px;
}
.drop_crug{
    position: absolute;
    background-color: white;
    width: 60px;
    height: 60px;
    border: 1px dashed  #969696;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop_crug i{
    color: #969696;
    font-size: 25px;
}
.travel_drop_card p{
    margin-left: 100px;
    width: 400px;
}
.travel_drop_line_1{
    width: 1px;
    height: 250px;
    background-color: #C4C4C4;
    position: absolute;
    left: 105px;
    top: 50px;
}
.travel_drop_line_2{
    width: 1px;
    height: 250px;
    background-color: #C4C4C4;
    position: absolute;
    left: 655px;
    top: 50px;
}
.travel_drop_card:hover .drop_crug{
    border: 1px dashed red;
}
.travel_drop_card:hover .drop_crug i{
    color: red;
}
.footer_reg{
    margin-top: 300px;
}
.footer_reg_top{
    display: flex;
    justify-content: space-around;
}
.footer_reg_bottom{
    display: flex;
    justify-content: space-around;
}
.footer_reg_button{
    width: 237px;
    height: 50px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: Montserrat;
    font-size: 16px;
}
.footer_top{
    padding-bottom: 40px;
    margin-top: 50px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);;
    width: 1100px;
    margin: 40px auto 0 auto;
}
.footer_top img{
    width: 156px;
    height: 86px;
}
.footer_top_munu_1{
    font-family: "Suisse Int'l Trial";
    font-size: 15px;
}
.footer_top_munu_1 p{
    margin: 2px;
}
.footer_top_munu_2{
    font-family: "Suisse Int'l Trial";
    font-size: 15px;
}
.footer_top_munu_2 p{
    margin: 2px;
}
.footer_top_p p {
    font-size: 12px;
    color: #3E3E3E;
    opacity: 0.5;
}
.footer_top_p h4{
    font-size: 15px;
}
.footer_top_number h4{
    font-size: 12px;
    color: #3E3E3E;
    opacity: 0.5; 
}
.footer_top_number{
    font-size: 15px;
}
.footer_bottom{
    display: flex;
    padding: 20px 150px 0 150px;
}
.footer_bottom_i{
    width: 100%;
    text-align: end;
}
.footer_bottom_i i {
    color: #3E3E3E;
}
.footer_bottom_p{
    position: absolute;
    color: rgba(62, 62, 62, 0.5);
    font-size: 15px;
    width: 600px;
}
.footer_reg_bottom ::placeholder{
    color: #969696;
}
.footer_reg_bottom{
    display: flex;
    align-items: center;
    position: relative;
}
.turist_footer input{
    position: absolute;
    left: -100px;
    top: 5px;
}
.turist_footer input::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 690px;
}
.turist_footer input:checked::before{
    border: none;
    background: url(./img/Frame\ 88\ —\ копия.png);
}
.turagent_footer input{
    position: absolute;
    top: 5px;
    left: -100px;
}
.turagent_footer input::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 900px;
}
.turagent_footer input:checked::before{
    border: none;
    background: url(./img/Frame\ 88\ —\ копия.png);
}
.footer{
    position: relative;
    padding: 20px;
    margin-top: 20px;
    background-color: #F8F8F8;
}